extends layout
block content
    script(id="vote", type="text/html")
        |<li class="vote-item">
        |   <div class="content">
        |       <h3 class="secondary-content">
        |           <button class="vote" data-session-id="{{_id}}">Vote</button>
        |           <span class="presentation-speaker">{{speakerName}}</span>
        |           <span class="presentation-title ">{{title}}</span>
        |          </h3>
        |       <div class="presentation-description">
        |            <pre>{{description}}</pre>
        |       </div>
        |   </div>
        |</li>


    #conference.content.active
        p
           The Austin .Net User Group is proud to sponsor it's fifth Annual Code Camp

        p This is one day FREE conference For The Community, By the community.

        p The Conference is on June 9, 2012 at St Edward's Professional Education Center from 8 am to 5 pm. Click the link on the Location Tab for additional information about St Edward's.
    #schedule.content
        h2 Vote for Sessions!
        p
            |  Here is the list of submitted sessions.  Please vote for all of the sessions you are interested in attending.  This does not mean you <i>have to attend,  </i> Only
            |  that your are interested in this presentation.
        p We use this information to place presentations in the appropriate size room.

    #location.content
        h2
            a(href="http://www.pec.stedwards.edu/about-map.asp", target="_blank") St Edwards Professional Education Center
            |<iframe width="640"
            |        height="480"
            |        frameborder="0"
            |        scrolling="no"
            |        marginheight="0"
            |        marginwidth="0"
            |        src="http://maps.google.com/maps?q=9420+Research+Blvd+Echelon+III,+Suite+200+Austin,+Texas+78759&amp;ie=UTF8&amp;hq=&amp;hnear=9420+Research+Blvd,+Austin,+Travis,+Texas+78759&amp;gl=us&amp;t=m&amp;ll=30.40905,-97.76516&amp;spn=0.035536,0.054932&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?q=9420+Research+Blvd+Echelon+III,+Suite+200+Austin,+Texas+78759&amp;ie=UTF8&amp;hq=&amp;hnear=9420+Research+Blvd,+Austin,+Travis,+Texas+78759&amp;gl=us&amp;t=m&amp;ll=30.39705,-97.74416&amp;spn=0.035536,0.054932&amp;z=14&amp;iwloc=A&amp;source=embed" style="text-align:left">View Larger Map</a></small>
    #sponsorship.content
        h2 Sponsorship Opportunities

        h3.accent-blue Gold | $1,000
        ul
            li Year Long Promotion through ADNUG Newsletter
            li Exhibit Space at Conference
            li Logo Present at Conference on signage
            li Logo on Website
            li Logo on Opening Slide of Every Speakers Presentation

        h3.accent-blue Silver | $750
        ul
            li Exhibit Space at Conference
            li Logo Present at Conference on signage
            li Logo on Website
            li Logo on Opening Slide of Every Speakers Presentation
        h3.accent-blue Silver | $500
            li Logo Present at Conference on signage
            li Logo on Website
            li Logo on Opening Slide of Every Speakers Presentation

        h3.accent-blue Bronze | $250
        ul
            li Logo on Website
            li Logo on Opening Slide of Every Speakers Presentation
            li To Sponsor Code Camp Please Contact

        p Eric McVicker at
            a(mailto:"sponsors@adnug.org") sponsors@adnug.org
    #travel.content
        h3 Travel
        p
            St. Edward's PEC keeps a list of Hotels near their facility on their <a href="http://www.pec.stedwards.edu/about-map.asp">site</a>

        p
            Scroll to the bottom of this page, there are links to nearby hotels with discount codes

        p
            The closest hotel is the Courtyard by Marriott Arboretum

