extends layout
block content
    .content.active
        p You must first <a href="/register">Register</a> and be Logged In to submit sessions for code camp
        if(errors)

            ul.errors
                each e in errors
                    li #{e}

        form(action='/login', method='POST')
          #login
            input(type='text', name="email", placeholder="Email Address")
          #password
            input(type='password', name="password", placeholder="Password")
          #submit
            input(type='submit') Login