extends layout

block content
    .content.active
        form(action="/session/new",method="post")
            p: input(type="text",id="firstName", name="firstName", placeholder="First Name")
            p: input(type="text", id="lastName", name="lastName",placeholder="Last Name")
            p: input(type="text", id="email", name="email",placeholder="Email Address")
            p: textarea(id="bio",name="bio", placeholder="Bio")
            h3 Presentations
            p
                input.presentation-title(type="text", name="presentations[2][title]", placeholder="Title")
                label(for="presentations[2][duration]") Duration
                    select.presentation-duration(name="presentations[2][duration]")
                        option 1
                        option 2
                        option 4
                input.presentation-description(type="text",name="presentations[2][description]",width=100,placeholder="Description")
            p
                input.presentation-title(type="text", name="presentations[2][title]", placeholder="Title")
                label(for="presentations[2][duration]") Duration
                    select.presentation-duration(name="presentations[2][duration]")
                        option 1
                        option 2
                        option 4
                input.presentation-description(type="text",name="presentations[2][description]",width=100,placeholder="Description")
            p
                input.presentation-title(type="text", name="presentations[2][title]", placeholder="Title")
                label(for="presentations[2][duration]") Duration
                    select.presentation-duration(name="presentations[2][duration]")
                        option 1
                        option 2
                        option 4
                input.presentation-description(type="text",name="presentations[2][description]",width=100,placeholder="Description")
            p
                input.presentation-title(type="text", name="presentations[2][title]", placeholder="Title")
                label(for="presentations[2][duration]") Duration
                    select.presentation-duration(name="presentations[2][duration]")
                        option 1
                        option 2
                        option 4
                input.presentation-description(type="text",name="presentations[2][description]",width=100,placeholder="Description")



            p: input(type="submit")
