html,body{
    font-size: 1.1em;
}
html,body,h1,h2,h3,h4,h5,h6,a{

    background-color: #002b36;
    color: #839496;
}
.empaphsized-content{
    color:#93a1a1;

}
.secondary-content{
    color:#586e75;
}
.background-highlight{
    background-color:#073642;
}

.accent-yellow    {
 color:#b58900
}
.accent-orange{    color:#cb4b16;}
.accent-red{       color:#dc322f;}
.accent-magenta{   color:#d33682;}
.accent-violet{    color:#6c71c4;}
.accent-blue{      color:#268bd2;}
.accent-cyan{      color:#2aa198;}
.accent-green{     color:#859900;}


.content{
    display: none;
    padding-top: 1.5em;
    padding-left: 2em;
    width:80%;
    margin:auto;
    min-height: 400px;
    background-color: #073642;
    box-shadow: 0 0 7px rgba(255,255,255,0.4);
    -webkit-box-shadow: 0 0 7px rgba(255,255,255,,0.4);
    -moz-box-shadow: 0 0 7px rgba(255,255,255,0.4);
}

.content.active{
    display: block;
}

.content *{
    background-color: #073642;
}
nav#action-nav{
    margin-left:auto;
    margin-right:auto;
    margin-bottom:1.2em;
    width:60%;
    text-align: center;

}
nav#content-nav{
    margin-top:2em;
    margin-bottom:1.2em;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

a.action-link,
a.nav-item{
    width:100px;
    height: 60px;
	margin: 0 .5em .5em .5em;
	padding: .15em 1em .4em;
	font-size: 14px;
	font-weight: bold;
	border-radius: .214em;
	-webkit-border-radius: .214em;
	-moz-border-radius: .214em;
	cursor: pointer;
	background-color:#586e75;
    color:#b58900;
    text-shadow: 0 1px 1px #93a1a1;
    text-decoration: none;
}
a.nav-item{
    margin-right:1.4em;
}
a.action-link:hover,
a.nav-item:hover{
    background-color: #93a1a1;
    color: #586e75;
    box-shadow: 0 0 7px rgba(255,255,255,0.4);
    -webkit-box-shadow: 0 0 7px rgba(255,255,255,,0.4);
    -moz-box-shadow: 0 0 7px rgba(255,255,255,0.4);
}
a.action-link{
    padding: .5em 2em;
    font-size: 20px;
    background-color: #ad0a0f;
    margin-left: .5em;
    margin-right: .5em;
}
h1.site-title{
    font-size: 64px;
    font-weight: bold;
    /*color: #8B1A1A;*/
     /*text-shadow: rgba(0,0,0,0.5) -1px 0,*/
                  /*rgba(0,0,0,0.3) 0 -1px, */
                  /*rgba(255,255,255,0.5) 0 1px, */
                  /*rgba(0,0,0,0.3) -1px -2px;*/
    text-align: center

}
.content form input,
.content form select,
.content form textarea,
.content form button {
background-color: #FFF;
}
.presentation-duration{
    margin-left: 1.2em;
}
input[type="text"],
input[type="password"]
{
    width:200px;
    font-size: 14px;
}
textarea{
    font-size:14px;
    vertical-align:bottom;
}
textarea.presentation-description{
    margin: 0;
    padding: 0;
    height: 20px;
}
#processing-started-message,
#processing-complete-message{
    display: none;
}


label{
    padding-left: 1.5em;
    padding-right: 1.5em;

}

#sponsorship ul li{
    font-style: italic;
}
.vote-item span{
    display: inline-block;
}
.presentation-speaker{
    width: 250px;

}
.presentation-title{

}
.presentation-description pre{
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
